* {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: rgb(226, 155, 205);
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.banner {
    background-color: aquamarine;
    height: 200px;
}

.content {
    background-color: rgb(184, 155, 205);
    height: 400px;
}
.footer {
    background-color: rgb(184, 246, 205);
    height: 20px;
    height: 100px;
}

img {
    width: 100%;
    filter: grayscale(100%) invert(100%);
}
