p:hover {
    color: azure;
    font-weight: bold;
}

p::before {
    content: 'Hello';
    color: aqua;
    font-weight: bold;
}

p::after {
    content: 'Bye!';
    color: aqua;
    font-weight: bold;
}

p::selection {
    background-color: blueviolet;
    color: white;
}
