# {
    padding: 0;
    margin: 0;
}
.nav-bar {
    background-color: aquamarine;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}
.footer{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    height: 100px;
}
.content {
    background-color: antiquewhite;
    padding: 20px;
    margin: 10px;
    height: 300px;
}
h1 {
    text-align: center;
}
.bold {
    font-weight: bold;
}
